.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



  .table-container {
    display: flex;
    justify-content: space-between;
  }

.table {
  width: 45%;
  border: 1px solid black;
  border-collapse: collapse;
}

.table-title {
  text-align: left;
  font-size: larger;
}

.table td {
  text-align: center;
  font-size: smaller;
  border: 1px solid black;
}


.tab-without-bullet {
  list-style: none;
}


